@model List<SimpleShop.Models.Product>

@{
	ViewBag.Title = "Index";
}
<link href="~/Content/main.css" rel="stylesheet" />

<h2>Index</h2>
@foreach (var product in Model)
{
	<div class="col-md-4 product-block">
		<img src="" />
		<p><b>@product.ProductName</b></p>
		<p>@product.Price</p>
		<p>Weight: @product.ProductFeature.Weight</p>
	</div>



}
<div class="row"></div>
