
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>
<p>TODO: display cart content</p>
<p>TODO: fill customer information</p>
<p>TODO: submit to create order</p>
